<section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Our designers and engineers know collaboration is the essence of any project.
It’s a simple philosophy we’ve followed for nearly two decades. And it delivers results.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2017</h4>
                                <h4 class="subheading">Bachelor of computer science</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">One of the Esteemed Universities of Gujarat State covering South Gujarat Region (from Bharuch to Vapi) located in Surat city. It was established in the year 1966-67. I have completed my bachlor degree here.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2017</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">I have the skill to develop an online presence for your business. Basically i am mobile application developer with 4+ years of hands on experience in android application development and web development.</p></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </section>